* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family:'Roboto', sans-serif;
}

body {
    background-color: powderblue;
}

.container {
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
}

header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkblue;
    padding: 36px 0;
}

header h1 {
    margin-left: 46px;
    background-color: darkblue;
    color: #fff;
    text-transform: uppercase;
}

.menu {
    padding-right: 20px;
}

section img {
    max-width: 480px;
    margin-top: 46px;
}

section {
    display: flex;
    margin: 46px ;
}

.sobre {
    margin: 52px;
}

h2 {
    border-bottom: 2px solid darkblue;
    padding-bottom: 20px;
}

.sobre h2 {
    margin-bottom: 16px;
    font-weight: bold;
}


nav ul {
    list-style: none;
    display: flex;
}

nav ul li a {
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    margin-left: 16px;
    background-color: #fff;
    border-radius: 5px;
    padding: 8px;
}

nav ul li a:hover {
    background-color:steelblue;
    transition: all 0.5s;
}

.produtos ul{
    margin: 46px 0 46px 62px;
    display: flex;
    list-style: none;
}

.produtos {
    display: grid;
    grid-template-columns: repeat(4, 24,25%);
}

.produtos h2 {
    margin: 16px 46px;
}

.produtos h3, p {
    margin: 8px 0;
}

.produtos img {
    margin-bottom: 8px;
    width: 250px;
    border-radius: 5px;
    height: 180px;
}

button {
    padding: 12px 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

button:hover {
    background-color: steelblue;
    transition: all 0.5s;
}

@media screen and (max-width: 667px){
    header {
        max-width: 667px;
        width: 100%;
    }

    #sobre img {
        width: 300px;
        align-items: center;
        margin-top: 28px;
    }

    section {
        display: block;
        margin: 46px ;
    }
    
    .sobre {
        display: block;
        margin: 52px;
        text-align: center;
    }
    
    h2 {
        border-bottom: 2px solid darkblue;
        padding-bottom: 20px;
    }
    
    .sobre h2 {
        margin-bottom: 16px;
        font-weight: bold;
    }

    .produtos ul{
        margin: 46px 0 46px 62px;
        display: block;
        list-style: none;
    }
    
    .produtos {
        display: block;
    }
    
    .produtos h2 {
        margin: 16px 46px;
    }
    
    .produtos h3, p {
        margin: 8px 0;
    }
    
    .produtos img {
        margin-top: 20px;
        margin-bottom: 8px;
        width: 250px;
        border-radius: 5px;
        height: 180px;
    }
    
    button {
        padding: 8px 12px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
        cursor: pointer;
    }
}

@media screen and (min-width: 668px) and (max-width:1179px) {
    .container {
        max-width: 1180px;
        width: 100%;
    }
    
    header {
        width: 1180px;
    }

    header h1 {
        margin-left: 46px;
        background-color: darkblue;
        color: #fff;
        text-transform: uppercase;
    }
    
    .menu {
        padding-right: 20px;
    }

    #sobre img {
        max-width: 980px;
        margin-left: 52px;
    }

    section {
        display: block;
        margin: 46px ;
    }
    
    .sobre {
        margin: 52px;
    }
    
    h2 {
        border-bottom: 2px solid darkblue;
        padding-bottom: 20px;
    }
    
    .sobre h2 {
        margin-bottom: 16px;
        font-weight: bold;
        font-size: 46px;
    }

    .sobre p {
        font-size: 32px;
    }
    
    nav ul {
        list-style: none;
        display: flex;
    }
    
    nav ul li a {
        font-weight: bold;
        text-transform: uppercase;
        color: #000;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        margin-left: 16px;
        background-color: #fff;
        border-radius: 5px;
        padding: 8px;
    }

    .produtos ul{
        margin: 46px 0 46px 62px;
        list-style: none;
        display: grid;
        grid-template-columns: repeat(2, 49%);
        justify-content: center;
    }
    
    .produtos {
        margin: 52px;
        
    }
    
    .produtos h2 {
        font-size: 46px;
    }
    
    .produtos h3, p {
        margin: 8px 0;
    }
    
    .produtos img {
        margin-top: 32px;
        margin-bottom: 8px;
        width: 250px;
        border-radius: 5px;
        height: 180px;
    }
    
    button {
        padding: 12px 16px;
        border: none;
        border-radius: 5px;
        font-weight: bold;
        text-transform: uppercase;
    }
}